<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <h2>Bienvenido a su registro como paciente</h2>
    <p>Por favor, llene los siguientes campos para completar su registro:</p>

    <a href="#" class="regresar">Regresar</a>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" placeholder="Ingrese su apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sexo</ion-label>
        <ion-select placeholder="Seleccione su sexo" [(ngModel)]="sexo" name="sexo" required>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
        </ion-select>
      </ion-item>
      

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="tel" placeholder="Ingrese su teléfono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Estado</ion-label>
        <ion-input type="text" placeholder="Ingrese el Estado donde se encuentre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" placeholder="dd/mm/aaaa"></ion-datetime>
      </ion-item>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input
            type="text"
            name="email"
            [(ngModel)]="email"
            placeholder="Ingrese su usuario"
            required>
          </ion-input>
          <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
            Please enter a valid email address
          </div>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Ingrese su contraseña"
            required>
          </ion-input>
        </ion-item>
      
        <ion-button expand="full" color="primary" type="submit">Registrar</ion-button>
      </form>
      
    </ion-list>
  </div>
</ion-content>
