<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <h2>Bienvenido a su registro como médico</h2>
    <p>Por favor, llene los siguientes campos para completar su registro:</p>

    <a href="#" class="regresar">Regresar</a>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Ingrese su nombre" [formControl]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" placeholder="Ingrese su apellido" [formControl]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <select class="form-select" name="specialty" required [formControl]="especialidad">
          <option value="" disabled selected>Seleccione su especialidad</option>
        <option>Anesteseologia</option>
              <option>Anatomía Patológica</option>
              <option>Cardiología Clínica</option>
              <option>Cardiología Intervencionista</option>
              <option>Cirugía Pediátrica</option>
              <option>Cirugía General</option>
              <option>Cirugía Plástica y Reconstructiva</option>
              <option>Dermatología</option>
              <option>Endoscopia del Aparato Digestivo</option>
              <option>Gastroenterología</option>
              <option>Ginegología y Obstetricia</option>
              <option>Hematología</option>
              <option>Infectología de Adulto</option>
              <option>Medicina Aeroespacial</option>
              <option>Medicina de Rehabilitación</option>
              <option>Medicina Interna</option>
              <option>Nefrología</option>
              <option>Neurología de Adultos</option>
              <option>Neumología</option>
              <option>Oftalmología</option>
              <option>Ortopedia</option>
              <option>Otorrinolaringología</option>
               <option>Patología Clínica</option>
              <option>Pediatría</option>
              <option>Psiquiatría General</option>
              <option>Radiología e Imagen</option>
              <option>Medicina Crítica</option>
              <option>Urología</option>
              <option>Cardiología Intervencionista</option>
              <option>Cirugía Oncológica</option>
              <option>Oncología Médica</option>
              <option>Oncología Pediátrica</option>
              <option>Radio-Oncología</option>
              <option>Cirugía Neurológica</option>
      </select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cédula médica</ion-label>
        <ion-input type="text" name="ced" required [formControl]="cedula"></ion-input>
      </ion-item>

      <ion-item>
        <select id="state" name="state" class="form-select" required [formControl]="estado">
          <option value="" disabled selected>Seleccione su estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="Ciudad de México">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
      </select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input type="text" placeholder="Ingrese su dirección" [formControl]="direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="tel" placeholder="Ingrese su teléfono" [formControl]="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento NOOOOooooOOOOoOoOOoOo LA POLITZIAAAAAAA NOOOooOOOooooOooOO</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" placeholder="dd/mm/aaaa" [formControl]="fecha"></ion-datetime>
        <ion-time display-format="DD/MM/YYYY" placeholder="dd/mm/aaaa" [formControl]="fecha"></ion-time>
      </ion-item>

      

      <br>
      <label position="floating">Email:</label>
      <br>
      <input [(ngModel)]="email" type="email" style="background-color: rgb(211, 233, 251); border: aliceblue 3px solid; width: 1200px;"><br>

      <label position="floating">Password:</label>
      <br>
      <input [(ngModel)]="password" type="password" style="background-color: rgb(211, 233, 251); border: aliceblue 3px solid; width: 1200px;"><br>

    <br>

    <button expand="full" (click)="onSubmit()" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Login</button>
    <br><br>
    </ion-list>
  </div>
</ion-content>
